*.env
!.env.example
storage/
assets/
volumes/
.idea/
.vscode/
.DS_Store
.gocache/
.cache/
golangci-lint-report.json
deploy/docker/air/tmp/
*.key
*.pem
*.crt
/node_modules
/.pnp
.pnp.js
/apps/web/.next
/apps/web/dist
/apps/web/out
/apps/web/tsconfig.tsbuildinfo

